* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inclusive Sans', sans-serif;
  color: white;
  font-size: 25pt;
}

#root {
  --darkBackGround: #0e1111;
  --Color1: #232b2b;

}

a {
  text-decoration: none;
  color: var(--fontColor);
}


body {
  background-color: #0e1111;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: .75rem;
}

input {
  min-width: 100%;
  color: black;
}

button {
  background-color: green;
  color: white;
  min-width: 100%;
}